@model lab3.Models.Test

@{
    ViewBag.Title = "Load";
}

<h2>
    First Name = @Model.FirstName
    <br />
    Last Name = @Model.LastName
    <br />
    Phone = @Model.Phone
    <br />
    eMail = @Model.Email
    <br />

</h2>

